/* CSS Reset from Josh W. Comeau (https://www.joshwcomeau.com/css/custom-css-reset/) */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

svg,
picture,
video,
canvas {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

ul {
	display: inline-block;
	list-style: none;
	padding: 0;
}

.container {
	display: grid;
	height: 100vh;
	grid-template-rows: 1fr;
}

.book-display {
	display: grid;
    gap: 10px;
    grid-auto-rows: min-content;
}

.book {
	display: grid;
	min-height: 100px;
	grid-template-columns: 0.4fr 0.2fr 0.4fr 8fr 1fr .4fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		". book-line . title  buttons ."
		". book-line . author buttons .";
	background-color: rgb(182, 177, 177);
}

.book-line {
	grid-area: book-line;
	background-color: black;
}

.title {
	grid-area: title;
	align-self: flex-end;
}

.author {
	grid-area: author;
}

.buttons {
	grid-area: buttons;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
